@forward './base/_animate.scss';
@forward './variables/_color.scss';
@forward './base/_reset.scss';


:root {
    --border-radius: 2px;
    --border-radius-button: 4px;
}

:root {
    --el-border-radius-base: var(--border-radius);
    --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.06);
    --el-table-index: 999;
}

.el-popper {
    border-radius: var(--border-radius);
}