@use 'sass:math';

// mobile
@mixin mb {
  @media (max-width:1023.9px) {
    @content;
  }
}

// mobile
@mixin mb-ctr {
  @container (max-width:1023.9px) {
    @content;
  }
}

// pc
@mixin pc {
  @media (min-width:1024px) {
    @content;
  }

  @container (min-width:1024px) {
    @content;
  }
}

@mixin res($property, $pc: null, $mobile: null) {
  $pcValue: if(math.is-unitless($pc), #{$pc}px, #{$pc});
  $mobileValue: if(math.is-unitless($mobile), px2vh($mobile), #{$mobile});
  $mobilContainerValue: if(math.is-unitless($mobile), #{$mobile}px, #{$mobile});

  @if(exists($pc)) {
    @include pc {
      #{$property}:#{$pcValue} // font-size: 20px
    }
  }

  @if(exists($mobile)) {
    @include mb-ctr {
      #{$property}:#{$mobilContainerValue} // font-size: 20px
    }

    @include mb {
      #{$property}:#{$mobileValue} // font-size: 20px
    }
  }
}

// 使用示例
// @include res(font-size,20,12)
// @include res(font-size,20px,12px)

